{% load static %}

<html lang="fr">
    <head>
    <!--	<meta charset="UTF-8"> -->
        <meta charset="utf-8">
        <title>Recherche</title>
        <link rel="stylesheet" type="text/css" href="{% static 'projet/style.css' %}">
    </head>

    <body>
        <h1>Recherche</h1>
        <legend for="seq-search">Sequence :</legend>
        <input type="search" id="seq-search" name="seq">

        <br><br>

        <legend for="espece-search">Espece :</legend>
        <input type="search" id="espece-search" name="espece">

        <br><br>

        <legend>Résultats souhaités :</legend>

        <input type="radio" id="genome" name="type_recherche" value="genome" checked>genome<br>
        <input type="radio" id="gene_prot" name="type_recherche" value="gene_prot">gene/proteine
   
        <br><br>
        <fieldset>
            <legend>A repondre seulement si recherche gene/proteine :</legend>
            <br>
            <legend for="nom_gene-search">Nom gene :</legend>
            <input type="search" id="nom_gene-search" name="nom_gene">

            <br><br>

            <legend for="nom_transcrit-search">Nom transcrit :</legend>
            <input type="search" id="nom_transcrit-search" name="nom_transcrit">

            <br><br>

            <legend for="description-search">Description :</legend>
            <input type="search" id="description-search" name="description">

            <br><br>

            <legend for="seq_prot-search">Sequence proteique :</legend>
            <input type="search" id="seq_prot-search" name="seq_prot">
            <br>
        </fieldset>

        <button>Résultat</button>

    </body>
</html>
