{% load static %}

<html lang="fr">
    
    <head>
    <!--	<meta charset="UTF-8"> -->
        <meta charset="utf-8">
        <title>Annotation</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'projet/annotation.css' %}">   
    
    
    </head>

    <body>
        <h1>Annotation</h1>
        <div class="container">
                    <fieldset>
                        <legend>s&eacute;quence affect&eacute;e :</legend>
                        <br>
                        <br>
            
                    </fieldset>

                    <br><br>

                    <legend for="Seqid-search">Identifiant de la s&eacute;quence :</legend>
                    <input type="search" placeholder="Ex: AAN78501" id="Seqid-search" name="Seqid">

                    <br><br>

                    <legend for="Seqtype-search">Type de la s&eacute;quence :</legend>
                    <input type="search" placeholder="Ex: cds" id="Seqtype-search" name="Seqtype">

                    <br><br>

                    <legend for="chr-search">Information chromosomique :</legend>
                    <input type="search" placeholder="Ex: ASM744v1:Chromosome:190:255:1" id="chr-search" name="chr">

                    <br><br>

                    <legend for="gene-search">Nom du g&egrave;ne :</legend>
                    <input type="search" placeholder="Ex: c5491" id="gene-search" name="gene">

                    <br><br>

                    <legend for="genetype-search">Type du g&egrave;ne :</legend>
                    <input type="search" placeholder="Ex: protein_coding" id="genetype-search" name="genetype">

                    <br><br>

                    <legend for="transtype-search">Type du transcrit :</legend>
                    <input type="search" placeholder="Ex: protein_coding" id="transtype-search" name="transtype">

                    <br><br>
                    
                    <legend for="genesym-search">Symbol du g&egrave;ne :</legend>
                    <input type="search" placeholder="Ex: thrL" id="genesym-search" name="genesym">

                    <br><br>

                    <legend for="genedescrip-search">D&eacute;scription du g&egrave;ne :</legend>
                    <input type="search" placeholder="Ex: Thr operon leader peptide" id="genedescrip-search" name="genedescrip">

                    <br><br>

                    <button type="submit">Annoter</button>  

                    <br><br>
        </div>

        </from>

    </body>
</html>








