{% load static %}

<html lang="fr">
    <head>
    <!--	<meta charset="UTF-8"> -->
        <meta charset="utf-8">
        <title>Annotation </title>
        <link rel="stylesheet" type="text/css" href="{% static 'projet/style.css' %}">

    </head>
    
    <body>
        <h1>Annotation</h1>
        <form method="post" action="{% url 'projet:annot' %}">
            {% csrf_token %}
            <div class="box">
                
                <legend style=" font-weight: bold;font-size: 1.2em;" for="seq-search">Liste des annotations en attente de validation :</legend>

                <br><br>
                
                {% for annotation in annotationAnnote %}
                    <input type="submit" name="button_{{annotation.id}}_annot" value="Annotation {{annotation.id}}" >
                    <br><br>
                {%endfor%}

            
                <br><br>
                
                
                <legend style=" font-weight: bold;font-size: 1.2em;" for="seq-search">Annotations non annotés :</legend>
                
                <br><br>

                <!-- Affichage des bouton en fonction de si on a un validateur et des annotations attribués -->
                {% if user.roles == 'val' %}
                    {% for annotation in annotationNonAnnote%}
                            <label for="{{annotation.id}}"> Annotation {{annotation.id}} : </label>
                            <select name="{{annotation.id}}" id="{{annotation.id}}">
                                {% for u in liste_annot %}
                                    <option value="{{u.username}}">{{u.username}}</option>
                                {%endfor%}
                            </select>
                            <input type="submit" name="button_{{annotation.id}}_not_annot" value="OK">
                        <br><br>
                    {% endfor %}
                {%endif%}
                
                
                <!-- Affichage des bouton en fonction de si on a un annotateur et si on ete attribués a cette annotation-->
                {% if user.roles == 'annot' %}
                    {% for annotation in annotationAttribue %}
                        {%if user.email == annotation.emailAnnotateur.email %}                       
                            <input type="submit" name="button_{{annotation.id}}_annotateur_def" value="Annotation {{annotation.id}}">
                        {%endif%}
                    {% endfor %}
                {% endif%}
                
                
                <br><br>
            </form>
            </div>
        
            <div>
                <ul id="menu-vertical">   
                    <li><a href="http://127.0.0.1:8000/projet/"><button>Page d'accueil</button></a></li>           
                </ul>
            </div>
        
        <br><br>

    </body>
</html>