{% load static %}

<html lang="fr">
    
    <head>
    <!--	<meta charset="UTF-8"> -->
        <meta charset="utf-8">
        <title>Connexion</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'projet/connexion.css' %}">

    </head>

    <body>
        <center><h1>Connexion</h1></center>
        <form action="{% url 'projet:connexion' %}" method="post">
            {% csrf_token %}
            <div class="box">
                <div>
                <center>
                    
                    <legend for="id-search">Identifiant :</legend>
                    <input type="search" placeholder="Entrez votre identifiant" id="id-search" name="username">
                    <i class="material-icons" title="L'identifiant est votre username">help</i>
    
                    <br><br>
    
                    <legend for="pass_id-search">Votre mot de passe :</legend>
                    <input type="password" placeholder="Entrez votre mot de passe" id="pass_id-search" name="pass_word_id">
                
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <br>
                    {% endif %}
                    <br>
                    <button type="submit">Se connecter</button></a>
                    <br><br>
                    
                    <div class="links">
                        <a href="http://127.0.0.1:8000/projet/inscription/" title="Inscrivez-vous !"><i class="material-icons">touch_app</i>&nbsp;Vous n'&ecirc;tes pas encore inscrit ?</a>
                
                </center>
                
                </div>
            </div>
            </div>
        </form>

    </body>
</html>
