{% load static %}

<html lang="fr">
    <head>
    <!--	<meta charset="UTF-8"> -->
        <meta charset="utf-8">
        <title>Annotation </title>
        <link rel="stylesheet" type="text/css" href="{% static 'res1/r.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    
    <body>
        <h1>Résultats Génome</h1>
        {% if results_genomique %}

            {% for genome in results_genomique %}

                {{genome.Id_genome}}

                <br><br>
                <from>
                    <div class="container">
                        <!--{{genome.sequence_genome}}!-->
                        La sequence est en commentaire. Najlae tu rajoute la ligne en commentaire dans un cadre. 
                    </div> 
                </from>
                <br><br>
                <button>Extraire</button>

                <br><br>
                <legend for="Seq-selec">Séquence Séléctionnée :</legend>
                <input type="search" id="Seq-selec" name="seqselec">
                <br><br>

            {% endfor %}
              
        <button>Recherche sur BD alternative</button>

        <button>Alignement</button>
        {% else %}
            <p>Il n'y pas de genome selectionner avec votre requete veuillez en selectionner une autre.</p>        
        {% endif %}

    </body>
</html>