{% load static %}

<html lang="fr">
    <head>
    <!--	<meta charset="UTF-8"> -->
        <meta charset="utf-8">
        <title>Resultats Protéine/Gène</title>
        <link rel="stylesheet" type="text/css" href="{% static 'res1/r.css' %}">
        
    </head>
    
    <body>
        <h1>Resultats Protéine/Gène</h1>
        {% if results_gene_prot %}

            {% for gene_prot in results_gene_prot %}
                {{gene_prot.Id_genome.Id_genome}} 
                <!-- Redondance car la base a ete cree comme ca
                Peut-etre voir si il ne faut pas le changer-->
                <br><br>
                {{gene_prot.nom_gene}}
                <br><br>
                {{gene_prot.nom_transcrit}}
                </p>

                <br><br>
                <from>
                    <legend>Séquence Protéique :</legend>
                    <br><br>
                    <div class="container">
                        {{gene_prot.sequence_peptidique}}
                    </div> 
                </from>
                <br><br>
                <button>Extraire</button>

                <br><br>
                <from>
                    <legend>Séquence Nucléotidique :</legend>
                    <br><br>
                    <div class="container">
                        {{gene_prot.sequence_nucleotidique}}
                    </div> 
                </from>
                <br><br>
                <button>Extraire</button>
                
                <br><br>
                <legend for="Seq-selec">Séquence Séléctionnée :</legend>
                <input type="search" id="Seq-selec" name="seqselec">
                <br><br>
                {% endfor %}
    
        <button>Recherche sur BD alternative</button>

        <button>Alignement</button>
        {% else %}
            <p>Il n'y pas de gene selectionner avec votre requete veuillez en selectionner une autre.</p>        
        {% endif %}

    </body>
</html>