button {   
    background-color: grey;   
    width: 25%;  
     color: white;   
     padding: 10px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }   

.box { 
    padding: 25px; 
    width: 45%;  
    border: 1px solid black;
    float:left;
}

#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    float:none;
    width: 100%;
}