h1 {
    font-size: 60px;
    text-align: center;
    }
p {
    font-size: 18px;
    font: 1rem 'Fira Sans', sans-serif;
}
legend {
    font-size: 18px;
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    }
input,
label {
    font: 1rem 'Fira Sans', sans-serif;
    margin: 0.4rem 0;
    }
button {   
   background-color: grey;   
   width: 25%;  
   font: 1rem 'Fira Sans', sans-serif;
    color: white;   
    padding: 10px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
     }   

input[type=search], input[type=password] {   
    width: 45%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}
    

 .container {   
    position: relative;
    padding: 25px; 
    width: 50%;  
    border: 1px solid black;
}